@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased selection:bg-zinc-700;
  font-family: 'Inter', system-ui, sans-serif;
  letter-spacing: -0.02em;
}

.glass {
  @apply backdrop-blur-md bg-zinc-950/70 border-zinc-200/10;
}

.custom-shadow {
  box-shadow: 0 8px 30px rgb(0,0,0,0.04);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}